[include]
  path = ~/.gitconfig.local

[init]
  defaultBranch = main

[alias]
  aliases = "!git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\ \t => \\2/' | sort"
  a       = add
  br      = branch
  brc     = branch --show-current
  cm      = commit -m
  cf      = commit --fixup
  co      = checkout
  cb      = checkout -b
  cp      = cherry-pick
  d       = diff
  dc      = diff --cached
  dw      = diff --word-diff
  ds      = diff --stat -r
  dt      = -c diff.external=difft diff
  dlog    = -c diff.external=difft log -p --ext-diff
  dshow   = -c diff.external=difft show --ext-diff
  plom    = pull origin main
  pf      = push --force-with-lease
  pom     = push origin main
  r       = remote -v
  # Force merge commit (no fast-forward, aka merge bubble)
  mf      = merge --no-ff
  pub     = push -u origin HEAD
  unpub   = "!git push origin :$(branch --show-current)"
  aq      = rebase origin/main -i --autosquash
  st      = status -sb
  last    = log -1 HEAD
  lg      = log --graph --pretty=custom --abbrev-commit --date=relative
  ll      = log --stat --abbrev-commit
  lc      = shortlog --summary --numbered # List contributors
  heir    = log --all --graph --decorate --oneline --simplify-by-decoration  # Remote

  # Reset
  uncommit    = reset HEAD~1 --mixed
  untrack     = rm --cached --

  # - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

[color]
  ui = auto

[color "diff"]
  meta = blue bold

[color "status"]
  added = green
  changed = yellow
  untracked = red

[color "branch"]
  current = green bold
  local = green
  remote = yellow
  plain = normal

[pretty]
  custom = "%Cred%h%Creset %C(bold blue)%an%C(reset) - %s %Creset%C(yellow)%d%Creset %Cgreen(%cr)%Creset"

[push]
  default = simple
  followTags = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore
  autocrlf = input
  ignorecase = false

[rebase]
  autosquash = true

[branch]
  sort = -committerdate

[tag]
  sort = -taggerdate

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[merge]
  conflictStyle = zdiff3
  tool = codediff

[mergetool "vimdiff"]
  path = nvim
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[mergetool "codediff"]
  cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"
